body {
    font-family: 'Open Sans', sans-serif;

}

h1 {
    color: white;
    font-size: 27px;
    text-transform: uppercase;
}

h3 {
    font-size: 27pt;
    font-weight: bold;
    color: rgba(24, 180, 207, 255);

}
a:visited{
    color: white;
}

/*HEADER*/

.header {
    height: 70px;
    background-color: #1d2124;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link {
    color: white;
    font-size: 15px;
}

.nav-bar > a {
    text-transform: uppercase;
    padding-left: 37px;
}

.nav-bar > a:first-of-type {
    padding-left: 0;
}



.logo-name {
    font-size: 22px;
    position: absolute;
    top: 25px;
    left: 78px;

}

.logo-block, .search-block {
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/*SECTION 1*/

.news {
    background-image: url("../img/header-bg.jpeg");
    height: 404px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    color: white;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-buttons {
    margin-top: 44px;
}

.Subscribe {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    height: 55px;
    width: 170px;
    border-radius: 3px;
    background-color: #89ca62;
    margin-right: 20px;
}

.Articles-link {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    height: 55px;
    width: 170px;
    border-radius: 3px;
    background-color: #14b9d5;
}


/*SECTION 2*/


.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f2f2f2;


}


.posts {
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 1030px;
    margin-bottom: -100px;
}

.posts-items {
    display: flex;
    width: 1170px;
    flex-flow: column wrap;


}

.posts-items > div {
    height: 35%;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 20px;
}

.posts-items > div:nth-child(3n+1) {
    order: 1;
    height: 31%;
}

.posts-items > div:nth-child(3n+2) {
    order: 2;
}

.posts-items > div:nth-child(3n) {
    order: 3;
    height: 34%;
}

.posts-items > div > p {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;

}


.posts-items > div:nth-of-type(2) {
    height: 43%;
}

.posts-items > div:nth-of-type(5) {
    height: 30%;
}

.posts-items > div:nth-of-type(6) {
    height: 43%;
}

/*SECTION 3*/
.clients {
    height: 598px;
    background-image: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
}

.clients-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 198px;
}

.clients-items-header {
    grid-column: 1/5;
}

.blue-line {
    width: 60px;
    border-bottom: 3px solid #169cb4;
    grid-column: 1/5;
}

/*HEADERS*/

.Top-rated-header {
    display: grid;
    height: 132px;
    justify-content: center;
    align-content: center;
}

/*SECTION 4*/
.Top-rated {
    /*height: 190px;*/
    /*width: 1561px;*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  }


/*SECTION 5*/

.hot-news {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 1902px;
    width: 1360px;

}

.hot-news-block {

    text-align: right;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*grid-template-columns: repeat(4, auto);*/

    width: 950px;
    height: 1902px;
    grid-template-rows: repeat(4, auto);
    grid-gap: 30px;
    font-size: 14px;


}

.hot-news-block > div {
    background-color: #f9f7f7;
    width: fit-content;
    height: max-content;

}

.r1c1, .r2c1, .r3c1 {
    grid-column: 1/3;
}


.r2c2, .r3c2 {
    grid-column: 3/5;
}

.r4c2 {
    grid-column: 2/4;

}

.hot-news-centered-paragraph {
    /*display: grid;*/
    /*width: 373px;*/
    /*height: 259px;*/
    margin-left: -94px;
    padding-bottom: 69px;

}

.hot-news-block > div > p {
    margin: 20px 24px;
}

.hot-news-block > div > h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 24px;
}

/*FOOTER*/


.copyright {

    background-color: #1d2124;
    /*grid-template-areas: "rights logo";*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
}

.rights {
    color: white;
    justify-self: end;
    align-self: center;
}

.logo {
    justify-self: center;
    align-self: center;
}

/*.clearfix:after {*/
/*    content: '';*/
/*    display: block;*/
/*    clear: both;*/
/*}*/