/*.new-mail-bg {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgba(0,0,0,0.5);*/
/*}*/
/*.new-mail-form {*/
/*    width: 300px;*/
/*    height: 500px;*/
/*    box-sizing: border-box;*/
/*    padding: 0 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*    background-color: teal;*/
/*}*/
.active {
    font-size: 18px;
    border-bottom: 1px solid teal;
}


.active-btn{
    background-color: palegreen;
}
.nav-menu-btn{
    font-size: 46px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.toggle{
    transform: rotate(90deg);
}