.first-page {
    width: 1280px;
    /*margin: 60px 100px 30px;*/
    margin: 0 auto;
}

.container {
    margin-bottom: 50px;
}

.main-name {
    color: #4bcaff;
    font-size: 80px;
    margin-top: 61px;
    margin-bottom: 45px;
}

h1>span {
    color: black;
}


.top-navbar {
    font-size: 24px;
    background-color: #35444f;
    padding-bottom: 21px;
    padding-top: 26px;
}

.top-navbar-first-item {
    padding-left: 200px;
}

.top-navbar-item {
    color: white;
    padding-right: 85px;
}

.image {
    float: right;
    width: 320px;
    border: 1px solid #b4b7ba;
    padding: 75px 268px 73px 268px;
    /*transition: width 2s, height 2s;*/
}
.menubar {
    display: inline-block;
    border: 1px solid #b4b7ba;
}

.menubar-item {
    display: block;
    width: 342px;
    color: #495863;
    font-size: 24px;
    padding-bottom: 28px;
    padding-top: 28px;
    padding-left: 44px;
}
.text-container {
    clear: right;
    margin-left: 520px;
    margin-right: 40px;
}

.first-paragraph {
   margin-bottom: 30px;
}
.menubar-2 {
    background-color: #b4b7ba;
}

.menubar-2-item {
    display: inline-block;
    color: black;
    font-size: 28px;
    padding: 21px 0 21px 44px;
}

.menubar-copyright {
    display: inline-block;
    color: black;
    font-size: 24px;
    padding: 21px 34px 21px 130px;
}

